@model Profesores
@{
    ViewData["Title"] = "Mantenedor";
}
@using (Html.BeginForm("Ficha","Home", FormMethod.Post, new {@class = "form-horizontal" })) { 
<h2>Mantenedor</h2>

<div class="form-group col-md-7 col-sm-7">
    <label class="control-label">Rut</label>
    @Html.TextBoxFor(m => m.rut, null, new { @class = "form-control" })
</div>
<div class="form-group col-md-7 col-sm-7">
    <label class="control-label">Nombre Completo</label>
    @Html.TextBoxFor(m => m.nombrecompleto, null, new { @class = "form-control" })
</div>
<div class="form-group col-md-7 col-sm-7">
    <label class="control-label">Titulo</label>
    @Html.TextBoxFor(m => m.titulo, null, new { @class = "form-control" })
</div>
<div class="col-sm-6">
    <label class="control-label">Grado Profesional</label>

    @Html.DropDownListFor(m => m.gradoprofesional, new List<SelectListItem>
                    {
                        new SelectListItem{Text="Selecione una opcion", Value="" },
                        new SelectListItem{Text="Tecnico Profesional", Value="Tecnico Profesional"},
                        new SelectListItem{Text="Ingeniero", Value="Ingeniero"},
                        new SelectListItem{Text="Magister", Value="Magister"},
                        new SelectListItem{Text="Doctor", Value="Doctor"}
                        
                    },
                    new { @class = "form-control"  }
                    )

</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
        <button type="reset" class="btn btn-info">
            Limpiar
        </button>
    </div>
    <div class="col-sm-offset-1 col-sm-1">
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
    </div>
</div>


}